body{
  background-image: url('images/background.png');
  color: #fff;
 }

#logo{
	text-align: center;
}

#logo img{
	top: 40px;
	left: 460px;
	right: 500px;
	height: 85px;
	width: 120px;
	position: absolute;
}

#banner{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 0px;	
}

#banner img{
	height: 160px;
	width: 700px;
	position: relative;
	z-index: -1;
}

#Links{
	background-color: black;
	color: white;
	width: 700px;
	height: 50px;
	margin: 0px auto;
	text-align: left;
	word-spacing: 10px;
	line-height: 3em;
	
}

#bodyContent{
	margin: 0px auto;
	background-color: #fff;
	border: 1px solid black;
	height: 400px;
	width: 700px;
	color: #000;
	padding-top: 25px;
	position: relative;
}
p{
	margin-right: 20px;
	text-align: left;
	padding-right: 400px;
	padding-left: 30px;
}

/* 
 * STILL TO REVISE:
 * -Revise Links so the background color changes when mouse hovers over them
 * -Increase the size of all non-background related content.(Too much background spacing)
 */
 
#fbfeed{
	display: block;
	padding: 50px;
	width: 55px;
	margin: 20px 70px 30px 0px;
	text-align: justify;
	background-color: blue;
	float: right;
}
#calendar{
	clear: both;
	display: block;
	padding: 50px;
	margin: 20px 70px 30px 0px;
	text-align: justify;
	background-color: red;
	float: right;
}
