body{
  background-image: url('images/background.png');
  color: #fff;
 }

#logo{
	text-align: center;
}

#logo img{
	top: 40px;
	left: 460px;
	right: 500px;
	height: 85px;
	width: 120px;
	position: absolute;
}

#banner{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 0px;	
}

#banner img{
	height: 160px;
	width: 700px;
	position: relative;
	z-index: -1;
}

#Links{
	background-color: black;
	text-align: center;
	width: 698px;
	height: 50px;
	margin: 0px auto;
}

#bodyContent{
	margin: 0px auto;
	background-color: #fff;
	border: 1px solid black;
	height: 400px;
	width: 700px;
	color: #000;
	padding-top: 25px;
	position: relative;
}
p{
	margin-right: 20px;
	text-align: left;
	padding-right: 400px;
	padding-left: 30px;
}

/* 
 * STILL TO REVISE:
 *Change Fb Feed and calendar to be directly below each other
 * instead of one to the right and one to the left
 */
 */
#fbfeed{
	color: red;
	border 2px solid black;
	background-color: gray;
	text-align: center;
	width: 100px;
	float: right;
	height: 100px;
	padding-left: 100px;
	position: absolute;
}
#calendar{
	color: black;
	border 2px solid black;
	background-color: red;
	text-align: center;
	float: right;
	width: 100px;
	height: 100px;
	margin-top: 200px;
	padding-right: 100px;
	position: relative;
}
