body{
  background-color: #2B6182;
  color: #fff
  }

a{
	color: #fff;
	word-wrap: break-word;
	margin: 25px;
	border: 1px solid white;
	} 
	
#Header{
	text-align: center;
	height: 50px;
	width: 500px;
	margin: auto;
	background-color: #387DA8;
	color: #000;
	border: 1px solid black;
}
#Links{
	text-align: center;
	line-height: 150%;
	background-color: #000;
	width: 480px;
	height: 25px;
	padding: 10px;
	margin: 10px auto;
	}

#bodyContent{
	margin: 10px auto;
	position: relative;
	background-color: #fff;
	border: 1px solid black;
	height: 400px;
	width: 500px;
	color: #000;
	padding-top: 25px;
}
p{
	margin-right: 20px;
	text-align: left;
	padding-right: 10px;
	padding-left: 30px;
}

